html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url("../public/moroccan-flower.png");
    background-repeat: repeat;
}

a {
  color: inherit;
  text-decoration: none;
}
img{width: 100%;}
.wd{width: 50%}
label{
  margin-top: 20px;
  font-weight: bold;
  font-size: 1vw ;
}
.mm{
  margin-bottom: 20px;
  font-size: 1vw 
}
.mml{
  margin-right: 20px;
  font-size: 1vw 

}
* {
  box-sizing: border-box;
}
